.form-group {
  margin: 12px;
  position: relative;
}
.form-group > label {
  margin-right: 10px;
}
.form-group > input,
.form-group > select {
  width: 100%;
  height: 25px;
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background-color: transparent;
}

.form-group > select {
  height: 30px;
  line-height: 50px;
  -webkit-appearance: menulist-button;
  -moz-appearance: none;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #0fbe23 !important; /* green */
}

.ng-invalid:not(.ng-untouched, form) {
  border-left: 5px solid red !important;
}

.form-group > label {
  position: absolute;
  top: 20%;
  left: 10px;
  z-index: -1;
  transition: all 0.3s ease;
}

sup {
  font-size: 50%;
  position: relative;
  top: -0.03em;
}

.form-group > input:focus + label,
.form-group > select:focus + label,
.form-group input:not(:placeholder-shown):not([type='radio']) + label,
.form-group select:valid + label{
  top: -25%;
  font-size: 0.8em;
  left: 10px;
  z-index: 1;
  background-color: white;
  /* transition: 0.2s; */
}

.btn-secondary,
.btn-primary {
  padding: 8px;
  font-size: 18px;
  margin-top: 6px;
  margin-left: 10px;
  outline: none;
  border: none;
}

.btn-primary:hover:enabled {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(39, 228, 102, 1) 70%
  );
  border: none;
}

.btn-secondary:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgb(111, 114, 112) 70%
  );
  border: none;
}
